

// Fonts

$primary-font: "Helvetica Neue", sans-serif;

// Breakpoints

$tablet-width: 768px;
$desktop-width: 1024px;


// Colors

// $primary-color: #0a090c;
// $light-background: #f0edee;
// $primary-background: #4f345a;
// $bright-background: #7ae7c7;
// $dull-background: #c5efcb;

// // Cappucino Color Pallette
// $primary-color: #3c2f2f;
// $light-background: #fff4e6;
// $primary-background: #4b3832;
// $bright-background: #854442;
// $dull-background: #be9b7b;

// // Cappucino Color Pallette
// $primary-color: #05386B;
// $light-background: #fff4e6;
// $primary-background: #5CDB95;
// $bright-background: #379683;
// $dull-background: #8EE4AF;

// Cappucino Color Pallette
$primary-color: white;
$light-background: #FBEEC1;
$primary-background: #659DBD;
$bright-background: #8D8741;
$dull-background: #BC986A;
$warm-background: #DAAD86;
