// Header

.first-line {
  align-items: center;
  margin: 0;
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  @include tablet {
    padding: 0 5%;
  }
  @include desktop {
    display: flex;
    height: 10vh;
    justify-content: space-between;
  }
}

.name {
  margin: 0 auto;
  display: block;
  padding: 25px 0;
  @include tablet {
    padding-right: 30px;
  }
  @include desktop {
    flex-basis: 75%;
  }
}

.first-line .main-nav {
  margin: auto;
  display: block;
  width: 100%;
  @include desktop {
    flex-basis: 25%;
    // margin-right: 10%;
  }
}


.nav-list {
  padding: 0 5%;
  margin: 0;
  li {
    border: solid grey 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px
  }
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;

    li {
    border: none;
    padding: 0;

  }
  }
  @include desktop {
    padding-left: 0;
  }
}

.second-line {
  text-align: center;
  padding-top: 30px;
  p {
    padding: 10px;
    line-height: 2;
  }
  @include tablet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90vh;
    align-items: center;
    margin: 0 5%;
    p {
      text-align: left;
      margin-right: 10%;
      padding: 30px;
    }
  }
}

.project {
  text-align: center;
}

// Main
.searchbar {
  margin-bottom: 25px;
  input {
  width: 25%;
  }
}



#main-content {
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.3);
  color: #f2f2f2;
}

#portfolio {
  padding: 25px 0 10px 0;
}

.projects {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects div {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

body {
  text-align: center;
}

// Footer

footer {
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

.upper-footer {
}

.contact-icons {

}

.bottom-footer {
  display: flex;
  justify-content: space-between;
}

.bottom-footer a {
  text-decoration: none;
}

#btt a {
  color: rgba(0, 0, 0, 0.3);
}
