// Header

.first-line {
  align-items: center;
  margin-top: 0;
  padding-bottom: 25px;
  @include tablet {
    padding-bottom: 0;
  }
}

.name {
  margin: 0 auto;
  display: block;
  padding: 25px 0;
}

.first-line .main-nav {
  margin: auto;
  display: block;
  width: 100%;
}

.nav-list {
  padding: 0;
}

.second-line {
  text-align: center;
  padding-top: 30px;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-nav ul {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}

.project {
  text-align: center;
}

// Main

#main-content {
  border-bottom: 1px solid grey;
}

.projects {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects div {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

body {
  text-align: center;
}

// Footer

footer {
  padding-top: 30px;
  width: 90%;
  margin: 0 auto;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
}

.bottom-footer a {
  text-decoration: none;
  color: black;
}
