.profile-pic {
  border-radius: 50%;
  width: 70%;
  margin: 0 auto;
}

.projects img {
  width: 100%;;
  display: block;
  margin: 0 auto;
}

.project-images {
  border-radius: 5px;
  border: 1px grey solid;
  box-shadow: 0 8px 6px -6px black;
}

// .profile-pic,
// .project-images {
//   filter: saturate(50%);
//   transition: filter 1s;
// }
//
// .profile-pic:hover,
// .project-images:hover {
//   filter: saturate(120%);
// }
