.main-nav {
  width: 33%;
  margin-right: 5%;
}

.nav-list li {
  @include desktop {
    padding-bottom: 0;
  }
}

// Links
nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: #f2f2f2;
  text-transform: uppercase;
  &:hover {
    color: white;
  }
  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: white;
    position: absolute;
    // top: 0;
    transition: all ease-in-out 250ms;

  }
  &.active {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    // top: 0;
    transition: all ease-in-out 250ms;

  }
  // Animation under nav links
  &:hover::after{
    width: 100%;
  }
}


nav li {
  position: relative;
}
