body {
  background: white;
  font-family: 'Old Standard TT', serif;
}

header {
  // background-image: linear-gradient(to bottom right, #537895 0%, #09203f 74%);
  background-color: grey;
  color: white;
  padding-bottom: 50px;
  // height: 100vh;
}

ul {
  list-style: none;
}

// Arrows

/* Arrow common style */

.arrows {
  text-align: center;
  display: block;
  padding: 0;
}
.arrow-bottom {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(135deg);
  transition: border-top 0.75s, border-right 0.75s;
}

.second-line .arrow-bottom:hover {
  border-top: 2px solid white;
  border-right: 2px solid white;
}

// grow on click (brekas arrow)

// @keyframes wiggle {
//   0% {transform: scale(1);}
//   50% {transform: scale(1.5);}
//   90% {transform: scale(0.9);}
//   100% {transform: scale(1);}
// }
//
// .arrow-bottom:active {
//   animation: wiggle 1s;
// }



// Besseren feedback for sie beim clicken erstellen, auf schwarzem hintergrund
